{% extends 'base.html' %} {% load static %}

{% block login %}

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              {% if messages %}
              <div id="messages">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
              <h3 class="card-title text-left mb-2 text-center">Iniciar Sesión</h3>
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                  <br><label>Nombre de Usuario</label>
                  <input type="text" name="username" class="form-control p_input" required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" class="form-control p_input" required>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  <script src="{% static 'assets/js/message.js' %}"></script>
</body>
{% endblock login %}