@media (max-width: 768px) {
    .album-col {
        flex: 0 1 50%;
        /* 2 álbumes por fila en pantallas pequeñas */
        max-width: 50%;
    }

    .container {
        padding: 0 15px;
        /* Reducir el padding en dispositivos pequeños */
    }

    .foto {
        height: auto;
        /* Asegura que la altura de las imágenes es automática y proporcional */
        width: 100%;
        object-fit: cover;
        /* Cubre el espacio disponible sin perder la proporción */
    }
}
