{% extends 'dashboard.html' %} {% load static %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Editar Proyecto</h4>
          <form class="forms-sample" method="post" action="{% url 'editar-proyecto' proyecto.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" class="form-control" name="titulo" placeholder="Título" value="{{ proyecto.titulo }}" required>
            </div>
            <div class="form-group">
              <label for="desc">Descripción</label>
              <input type="text" class="form-control" name="desc" placeholder="Descripción" value="{{ proyecto.descripcion }}" required>
            </div>

            <button type="submit" class="btn btn-primary mr-2">Actualizar</button>
            <a class="btn btn-warning" href="{% url 'proyectos' %}">Cancelar</a>
          </form>
        </div>
      </div>
    </div>

{% endblock content %}

{% block footer %} {% endblock footer %}